
:root {
    --primary-color: #003049;
    --secondary-color: #d62828;
    --accent1-color: #f77f00;
    

    --heading-font: Arial, sans-serif;
    --body-font: Verdana, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}


header, main, footer {
    width: 840px;
    margin: 0 auto;
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


header nav a {
    display: block;       
    margin: 8px 0;        
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}


.socialmedia a {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px; 
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    padding: 12px;
    width: 65%;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}
