nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 20px;
  display: block;
  text-decoration: none;
}

h1 {
  color: darkblue;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

main {
  max-width: 840px;
  margin: 0 auto;
}

aside {
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  box-shadow: none;
  border: none;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  
}

