
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
}


header {
  background-color: #006699;
  color: white;
  padding: 1em 0;
  text-align: center;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}


main {
  max-width: 900px;      
  margin: 2em auto;       
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

main img {
  width: 150px;          
  height: auto;          
  border-radius: 10px;
  margin: 1em 0;
}

main p {
  padding: 0;            
  line-height: 1.6;
}


aside {
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #ccc;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 8px;
  text-align: center;
}

aside img {
  width: 200px;          
  height: auto;          
  display: block;
  margin: 0 auto 1em auto;
}

footer {
  margin-top: 30px;
  border-top: 2px solid #ccc;
  text-align: center;
  padding: 10px 0;
  background-color: #006699;
  color: white;
}
